@import '../../../styles/variables.scss';

:host {
    background-color: $app-background-color;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .calendar-controls {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  
    button {
      margin: 0 5px;
      padding: 10px 15px;
      border: none;
      background-color: #49346f;
      color: white;
      border-radius: 5px;
      cursor: pointer;
  
      &:hover {
        background-color: #6221d8;
      }
    }
  }
  
  .calendar-header {
    text-align: center;
    margin-bottom: 10px;
  }
  
  ::ng-deep mwl-calendar-month-view {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  
    .cal-month-view {
      background-color: $app-background-color;
      width: 100%;
      max-height: calc(100vh - 150px); 
      overflow-y: auto; 
  
      .cal-header {
        background-color: #675c7d;
  
        &:hover {
          color: white;
          background-color: #6221d8;
        }
      }
  
      .cal-day-cell {
        background-color: rgb(40 11 53);
  
        &:hover {
          color: rgb(40 11 53);
          background-color: #8d8992;
        }
      }
  
      .cal-day-cell.cal-today {
        background-color: #8d8992;
      }
  
      .cal-day-cell.cal-weekend .cal-day-number {
        color: aqua;
      }
    }
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    background: #261447;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    padding: 20px;
    text-align: center;
    color: white;
  
    i {
      position: absolute;
      top: 10px;
      right: 10px;
      color: white;
      cursor: pointer;
    }
  }
  