@import '../styles/variables.scss';

.app-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }

  header {
    height: 10%;
    background-color: $app-header-color;
    align-content: center;
  }
  
  nav {
    margin-left: 23px;
  }
  
  nav a {
    margin-right: 15px;
    text-decoration: none;
    color: white;
  }
  
  nav a.active {
    font-weight: bold;
    color: #5900ff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  