<header>
    <h1>Task Dashboard</h1>
    <button (click)="openFormModal()">Create Task</button>
  </header>
  
  <section>
    <app-task-list
    *ngIf="tasks$ | async as tasks"
    [tasks]="tasks" 
    (delete)="handleDelete($event)" 
    (edit)="handleEdit($event)"
    (updateStatus)="updateStatus($event)"></app-task-list>
  </section>
  
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <i class="fa-solid fa-xmark" (click)="closeFormModal()"></i>
      <app-task-form (closeModal)="closeFormModal()" [taskToEdit]="taskToEdit"></app-task-form>      
    </div>
  </div>
  
  <div class="overlay" *ngIf="showModal"></div>
  
  
