<header>
    <h1>Task Dashboard</h1>
    <button (click)="openFormModal()">Create Task</button>
  </header>
  
  <section>
    <app-task-list [tasks]="tasks" (delete)="handleDelete($event)" (edit)="handleEdit($event)"></app-task-list>
  </section>
  
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <app-task-form (closeModal)="closeFormModal()" [taskToEdit]="taskToEdit"></app-task-form>
      <button (click)="closeFormModal()">Close</button>
    </div>
  </div>
  
  <div class="overlay" *ngIf="showModal"></div>
  
